
body
{
height: 8200px
}
/*start header*/
.navbar-default
{
background-color: transparent;
border: none
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
color: white;
font-weight: 700;
vertical-align: -4px
}
.header
{
background-image: url(../images/mbr-1618x1080.jpg);
background-size: cover;
height: 100vh;
background-attachment: fixed
}
.overlay
{
position: absolute;
width: 100%;
height: 100%;
right: 0;
left: 0;
top: 0;
bottom: 0;
background-color:rgba(0,0,0,.5)
}
.intro .introduct h1
{
font-family: 'Kaushan Script', cursive;
font-size: 80px;
font-weight: 700;
margin-top: 200px;
color: white
}
.intro .introduct p
{
font-weight: 500;
text-transform: capitalize;
font-size: 30px;
letter-spacing: 1px;
color: white;
margin-top: 50px
}
.intro .introduct button
{
background-color:transparent;
color: white;
border-color: white;
border-bottom-color: white;
border-radius: 100px;
margin-top: 50px;
padding: 10px;
font-size: 18px;
width: 300px;
border-width: 2px;
letter-spacing: 1px
}

.intro .introduct button:hover
{
background-color: white;
color: black;
border: none
}
.navbar-default .navbar-nav>li>a
{
color: white
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
color: white
}
.navbar-default .navbar-nav>li>a
{
font-size: 15px
}
/*end header*/
/*start content1*/
.content1 .row
{
padding: 10px;
margin-top: 100px;
background-color: #fff;
border-radius: .25rem;
margin-left: 20px;
width: 30%;
height: 280px;
transition: all 0.5s;
border: 1px solid white;
transform: scale3d(0.76,0.76,0.76);
margin-bottom: 100px
}
.content1 .row:hover
{

box-shadow:10px 10px 10px 10px whitesmoke, 
           -10px -10px 10px 10px whitesmoke;
background-color: white;
-webkit-transform: scale3d(.79, .79, .79);
-moz-transform: scale3d(.79, .79, .79);
-o-transform:scale3d(.79, .79, .79);
-ms-transform:scale3d(.79, .79, .79);
transform: scale3d(.79, .79, .79);
color: #333;

}
.content1 .row h2
{
font-weight: 500;
margin-bottom: 0;
text-align: left;
padding: 10px;
font-size: 30px

}
.content1 .row p
{
font-family: 'Poppins', sans-serif;
font-size: 20px;
color: #232323

}

/*end content1*/
/*start content2*/
.content2
{
background-image: url(../images/mbr-1914x1080.jpg);
background-size: cover;
height: 450px;
background-attachment: fixed;
position: relative
}
.content2 .layer
{
position: absolute;
width: 100%;
height: 100%;
right: 0;
left: 0;
top: 0;
bottom: 0;
background-color:rgba(0,0,0,.5)
}

.content2 .two p
{
color: white;
font-family: 'Poppins', sans-serif;
word-wrap: break-word;
font-size: 25px;
line-height: 40px;
margin-top: 50px;
}

.content2 .two button
{
background-color:transparent;
color: white;
border-color: white;
border-radius: 100px;
margin-top: 50px;
padding: 10px;
font-size: 18px;
width: 300px;
border-width: 2px;
letter-spacing: 1px;
text-transform: capitalize;
transition: all .5s
}
.content2 .two button:hover
{
background-color: white;
color: black;
border: none
}
/*end content2*/
/*start content3*/
.content3
{
background-image: url(../images/jared-sluyter-302613-2000x1333.jpg);
background-size: cover;
height: 100vh;
opacity: .6;
background-attachment: fixed
}
.content3 .three p,.content6 p,.content9 p
{
font-family: 'Kaushan Script', 'sans-serif';
font-size: 50px;
color: white;
font-weight: 900;
margin-top: 250px
}
/*end content3*/
/*start content4*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
width: 750px;
height: 500px;
margin-left: 250px;
margin-right: 250px;
margin-top: 100px
}
.carousel-control.right
{
width: auto;

}
.bx-wrapper
{
margin-left: 270px;
margin-top: 50px
}
/*end content4*/
/*start content6*/
.content6
{
background-image: url(../images/timothy-paul-smith-256424-1200x800.jpg);
background-size: cover;
height: 100vh;
background-attachment: fixed
}
/*end content6*/
/*start content7*/
.content7 img
{
margin-top: 30px;
margin-bottom: 40px
}
/*end content7*/
/*start content8*/
.content8 .row img
{
width: 425px;

}
/*end content8*/
/*start content9*/
.content9
{
background-image: url(../images/mbr-1920x1080.jpg);
background-size: cover;
height: 1100px;
background-attachment:fixed
}
.content9 .talk p
{
margin-top: 800px
}
/*end content9*/
/*start content10*/

.content10 .row img
{
width: 425px;
height: 200px;
/*border-top: 1px solid white;*/
border-bottom: 1px solid white;
}
/*end content10*/
/*start content11*/
.content11
{
background-color: #2e2e2e;
color: white
}

.content11 .row img
{
width: 65px;
height: 96px;
margin-top: 20px

}
.content11 .row h4
{
font-size: 20px;
padding: 10px;
font-weight: 700
}
.content11 .row p
{
font-size: 18px;
color: #f6f6f6
}
.content11 .talk
{
border-top: 1px solid #4d4d4d
}
.content11 .talk .one p
{
font-size: 16px;
padding: 30px
}
.content11 .talk .two
{
margin-top: 30px;
color:#969696 
}
.fa-twitter:before,.fa-facebook-f:before,.fa-youtube:before,.fa-instagram:before,.fa-google-plus-g:before,.fa-behance:before
{
font-size: 25px;
margin: 10px

}

/*end content11*/